# Default ignored files
/shelf/
/workspace.xml
/jarRepositories.xml
/inspectionProfiles/Project_Default.xml
/compiler.xml
/misc.xml
/vcs.xml
/.gitignore
/MySocialNetwork.iml
/target/test-classes/socialnetwork/PostingTest.class
/target/test-classes/socialnetwork/Stepdefs.class
/target/classes/socialnetwork/TimeLine.class
